{{ form_start(form) }}
    <div class="admin-card">
        {{ form_widget(form) }}
    </div>
    <div class="w-full text-right">
        <button class="btn-primary">
            <i class="fa-solid fa-check" aria-hidden="true"></i>
            Salvar
        </button>
    </div>
{{ form_end(form) }}